@import "../node_modules/bootstrap/scss/bootstrap";

@import "variable";
@import "header";

// * body scss
body {
    font-family: $primary-font-family;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    background-color: $black;
    color: $white;
    padding-top: 70px;
    background-image: url("images\underwater.jpg");
    
    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }
}

// * container-fluid class scss
.container-fluid {
    max-width: 1320px;
}

// * header class scss
h1 {
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2, h3, h4, h5, h6 {
    font-weight: 600;
}  

// * custom carousel scss
.carousel {
    .carousel-inner {
        max-height: 90vh;
        img {
            max-height: 90vh;
            vertical-align: center;
        }
    }

    .carousel-item {
        position: relative;
        
        &:before {
            content: "";
            background: rgba(0, 0, 0, 0.5);
            color: $white;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    
    .carousel-caption {
        bottom: 10%;
        max-width: 900px;
        margin: 0 auto;
    }
    
    h5 {
        font-weight: 600;
        font-size: 44px;
        margin: 0 0 20px;
    }
    
    p {
        font-size: 20px;
    }
}

// * quiz custom scss
.question {
    padding: 20px;
}

.form-check-label {
    padding: 10px;
}

.submit-button {
    padding: 20px;
}

// * custom resources scss
.resource-citations {
    overflow-x: auto;
    max-width: 100%;
}
  

#generalInfo {
    img {
        max-width: 150px;
    }
}