#header {
    .navbar {
      padding: 15px 0;
    }
  
    .navbar-brand {
      font-weight: 600;
      color: $white;
    }  
  
    .nav-item {
      margin: 0 0 0 30px;
    }
  
    .nav-link {
      padding: 0;
      color: $white;
  
      &.active {
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
      }
    }
  }