body {
    margin: 0;
    min-height: 100vh;
}

video {
    /* like background-size: cover; but for video */
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;

}

/* Background video style */
.background-video-wrapper {
    /* video relative to parent element */
    position: fixed;
    top: 0;
    z-index: -999;
    height: 100vh;
    /* video will not overflow container */
    overflow: hidden;
    /* center container content vertically and horizontally */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-container {
    position: relative;
    max-height: 5vh;
}

.navbar-brand > img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.header {
    position: relative;
    color: #eff1f5;
    text-shadow: 1px 1px 8px #4c4f69;
}

.introduction {
    position: relative;
    color: #eff1f5;
}